html {
    font-size: 16px;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F3;
}

.container--primary,
.container--secondary {
    padding: 10px;
}

.container__title {
    font-size: 3rem;
    font-weight: 400;
    border-bottom: 2px solid #b47655;
}

.container__subtitle {
    text-align: end;
    font-weight: bold;
    font-size: 1rem;
}

.container__contact-info i {
    margin-bottom: 8px;
}

.container__description {
    background-color: #d0dbdd;
    padding: 6px;
    margin-top: 10px;
    border-radius: 10px;
}

.container__education-title--professional {
    font-weight: bold;
}

.container__profession {
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #b47655;
    width: 100%;
    height: 30px;
}

.border-bottom {
    border-bottom: 2px solid #b47655;
    width: 200px;
    margin-top: 30px;
}

.border-bottom--certifications {
    border-bottom: 2px solid #b47655;
    width: 200px;
    margin-top: 30px;
}

.brown {
    color: #b47655;
}


@media screen and (min-width:760px) {
    .grid-container {
        max-height: 1500px;
    }

    .container--primary {
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding-left: 25px;
        padding-right: 25px;
    }

    .container__title {
        grid-area: 1 / 1 / 2 / 3;
        font-size: 5rem;
        padding-left: 30px;
        position: relative;
    }

    .container__title::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 130px;
        left: -60px;
        top: 15px;
        background-color: #b47655;
        margin: 0 auto;
    }

    .container__image {
        grid-area: 1 / 3 / 3 / 4;
        width: 400px;
        height: 550px;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        text-align: center;
        background-image: url("./82DDEB51-901D-4011-8ACD-C86D4CEBC229.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        border: 30px solid #F6F6F3;
        margin-bottom: -50px;
        z-index: 99;
    }

    .container__subtitle {
        text-align: end;
        font-weight: bold;
        font-size: 2rem;
        grid-area: 2 / 2 / 3 / 3;
    }

    .container__contact-info {
        grid-area: 2 / 1 / 3 / 2;
        align-items: start;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container__contact-info div i {
        margin-right: 10px;
    }

    .container__description {
        background-color: #d0dbdd;
        grid-area: 3 / 1 / 4 / 4;
        font-size: 1.6rem;
        text-align: justify;
        padding: 16px;
        border-radius: 10px;
        height: 350px;
    }

    .container--secondary {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        font-size: 1.4rem;
        padding-left: 25px;
        padding-right: 25px;
        text-align: justify;
        gap: 40px;
    }

    .container__work {
        grid-area: 1 / 1 / 3 / 2;
    }

    .container__certifications {
        grid-area: 3 / 1 / 5 / 2;
    }

    .container__certifications-title,
    .container__skills-title {
        margin-top: 0;
    }

    .container__education {
        grid-area: 1 / 2 / 2 / 3;
    }

    .container__skills {
        grid-area: 2 / 2 / 5 / 3;
    }

    .border-bottom {
        width: 500px;
    }

    .border-bottom--certifications {
        border: none;
    }

    footer {
        width: 100vw;
        height: 50px;
    }
}